@import './base.css';

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: url('./wavy-lines.svg');
  background-size: cover;
  user-select: none;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#search-input {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  padding: 1.5px 8px;
  font-size: 12px;
}

.draggable-header {
  -webkit-app-region: drag;
}

.draggable-header__disable {
  -webkit-app-region: no-drag;
}